<div class="top-bar" role="complementary" aria-label="Contact bar">
  <div class="container top-bar-inner">
    <div class="top-bar-item">
      <i class="fa-solid fa-phone"></i>
      <a href="tel:+97721000000">023 574222/574223 </a>
    </div>
    <div class="top-bar-item">
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:bhrikutihospital44@gmail.com">bhrikutihospital44@gmail.com</a>
    </div>
    <div class="top-bar-item">
      <i class="fa-solid fa-clock"></i>
      <span>Emergency: 24/7 Available</span>
    </div>
    <div class="top-bar-item">
      <i class="fa-solid fa-location-dot"></i>
      <span>Kamal-05, Jhapa, Nepal</span>
    </div>
  </div>
</div>